
<div class="row marketing">
  
  
  <!-- React way -->
  <div id="list"></div>

  <!-- Angular way -->
  <!-- <table class="table table-striped">
    <tbody>
      <tr ng-repeat="row in data track by $index">
        <td ng-repeat="column in row track by $index">
          <span ng-class="{'red': column < 0, 'green': column > 2}">{{column}}</span>
          <span ng-if="column > 0">high</span>
          <span ng-if="column < 0">low</span>
        </td>
      </tr>
    </tbody>
  </table> -->
</div>
